<link
  rel="stylesheet"
  href="{{ 'brand-carousel.css' | asset_url }}"
>

<section class="brand-carousel">
<h2 style="text-align: center; color:#00b4ed; font-size: 3.2rem; font-weight: 700; margin-top:4rem;">
  TRUSTED BY PET EXPERTS
</h2>
<div class="carousel-track">
  <img src="https://cdn.shopify.com/s/files/1/0611/7992/0584/files/featured-pawinspired-americankennelclub.png?v=1745198819" alt="Paw Inspired® featured in American Kennel Club">
  <img src="https://cdn.shopify.com/s/files/1/0611/7992/0584/files/featured-pawinspired-betterpet.png?v=1745198819" alt="Paw Inspired® recommended by Betterpet">
  <img src="https://cdn.shopify.com/s/files/1/0611/7992/0584/files/featured-pawinspired-dailypaws.png?v=1745198819" alt="Paw Inspired® mentioned on Daily Paws">
  <img src="https://cdn.shopify.com/s/files/1/0611/7992/0584/files/featured-pawinspired-everydogsdream.png?v=1745198819" alt="Paw Inspired® featured by Every Dogs Dream">
  <img src="https://cdn.shopify.com/s/files/1/0611/7992/0584/files/featured-pawinspired-inc.png?v=1745198819" alt="Paw Inspired® recognized by Inc.">
  <img src="https://cdn.shopify.com/s/files/1/0611/7992/0584/files/featured-pawinspired-petkeen.png?v=1745198819" alt="Paw Inspired® reviewed by PetKeen">
  <img src="https://cdn.shopify.com/s/files/1/0611/7992/0584/files/featured-pawinspired-rover.png?v=1745198819" alt="Paw Inspired® awarded by Rover">
  <img src="https://cdn.shopify.com/s/files/1/0611/7992/0584/files/featured-pawinspired-thesprucepets.png?v=1745198819" alt="Paw Inspired® featured in The Spruce Pets">
  <img src="https://cdn.shopify.com/s/files/1/0611/7992/0584/files/featured-pawinspired-veterinariansorg.png?v=1745198819" alt="Paw Inspired® trusted by Veterinarians.org">
  <!-- duplicated for seamless loop -->
  <img src="https://cdn.shopify.com/s/files/1/0611/7992/0584/files/featured-pawinspired-americankennelclub.png?v=1745198819" alt="Paw Inspired® featured in American Kennel Club">
  <img src="https://cdn.shopify.com/s/files/1/0611/7992/0584/files/featured-pawinspired-betterpet.png?v=1745198819" alt="Paw Inspired® recommended by Betterpet">
  <img src="https://cdn.shopify.com/s/files/1/0611/7992/0584/files/featured-pawinspired-dailypaws.png?v=1745198819" alt="Paw Inspired® mentioned on Daily Paws">
  <img src="https://cdn.shopify.com/s/files/1/0611/7992/0584/files/featured-pawinspired-everydogsdream.png?v=1745198819" alt="Paw Inspired® featured by Every Dogs Dream">
  <img src="https://cdn.shopify.com/s/files/1/0611/7992/0584/files/featured-pawinspired-inc.png?v=1745198819" alt="Paw Inspired® recognized by Inc.">
  <img src="https://cdn.shopify.com/s/files/1/0611/7992/0584/files/featured-pawinspired-petkeen.png?v=1745198819" alt="Paw Inspired® reviewed by PetKeen">
  <img src="https://cdn.shopify.com/s/files/1/0611/7992/0584/files/featured-pawinspired-rover.png?v=1745198819" alt="Paw Inspired® awarded by Rover">
  <img src="https://cdn.shopify.com/s/files/1/0611/7992/0584/files/featured-pawinspired-thesprucepets.png?v=1745198819" alt="Paw Inspired® featured in The Spruce Pets">
  <img src="https://cdn.shopify.com/s/files/1/0611/7992/0584/files/featured-pawinspired-veterinariansorg.png?v=1745198819" alt="Paw Inspired® trusted by Veterinarians.org">
</div>
</section>

{% schema %}
{
"name": "Brand Carousel",
"tag": "section",
"class": "brand-carousel",
"settings": [],
"presets": [
  {
    "name": "Brand Carousel"
  }
]
}
{% endschema %}
