{% stylesheet %}
@import url("/assets/brand-carousel.css");
{% endstylesheet %}

{% schema %}
{
  "name": "Brand Carousel",
  "tag": "section",
  "class": "brand-carousel",
  "settings": [],
  "enabled_on": {
    "templates": ["index"]
  }
}
{% endschema %}


<section class="brand-carousel">
  <div class="carousel-track">
    <img src="https://cdn.shopify.com/s/files/1/0745/8583/3718/files/American_Kennel_Club.png?v=1745151269" alt="American Kennel Club logo">
    <img src="https://cdn.shopify.com/s/files/1/0745/8583/3718/files/betterpet.png?v=1745151270" alt="betterpet logo">
    <img src="https://cdn.shopify.com/s/files/1/0745/8583/3718/files/Daily_Paws.png?v=1745151270" alt="Daily Paws logo">
    <img src="https://cdn.shopify.com/s/files/1/0745/8583/3718/files/Every_Dog_s_Dream.png?v=1745151270" alt="Every Dog's Dream logo">
    <img src="https://cdn.shopify.com/s/files/1/0745/8583/3718/files/Inc.png?v=1745151270" alt="Inc. logo">
    <img src="https://cdn.shopify.com/s/files/1/0745/8583/3718/files/PetKeen.png?v=1745151270" alt="PetKeen logo">
    <img src="https://cdn.shopify.com/s/files/1/0745/8583/3718/files/Rover.png?v=1745151270" alt="Rover logo">
    <img src="https://cdn.shopify.com/s/files/1/0745/8583/3718/files/the_spruce_pets.png?v=1745151269" alt="The Spruce Pets logo">
    <img src="https://cdn.shopify.com/s/files/1/0745/8583/3718/files/veterinarians.org.png?v=1745151270" alt="Veterinarians.org logo">
    <!-- duplicated for seamless loop -->
    <img src="https://cdn.shopify.com/s/files/1/0745/8583/3718/files/American_Kennel_Club.png?v=1745151269" alt="American Kennel Club logo">
    <img src="https://cdn.shopify.com/s/files/1/0745/8583/3718/files/betterpet.png?v=1745151270" alt="betterpet logo">
    <img src="https://cdn.shopify.com/s/files/1/0745/8583/3718/files/Daily_Paws.png?v=1745151270" alt="Daily Paws logo">
    <img src="https://cdn.shopify.com/s/files/1/0745/8583/3718/files/Every_Dog_s_Dream.png?v=1745151270" alt="Every Dog's Dream logo">
    <img src="https://cdn.shopify.com/s/files/1/0745/8583/3718/files/Inc.png?v=1745151270" alt="Inc. logo">
    <img src="https://cdn.shopify.com/s/files/1/0745/8583/3718/files/PetKeen.png?v=1745151270" alt="PetKeen logo">
    <img src="https://cdn.shopify.com/s/files/1/0745/8583/3718/files/Rover.png?v=1745151270" alt="Rover logo">
    <img src="https://cdn.shopify.com/s/files/1/0745/8583/3718/files/the_spruce_pets.png?v=1745151269" alt="The Spruce Pets logo">
    <img src="https://cdn.shopify.com/s/files/1/0745/8583/3718/files/veterinarians.org.png?v=1745151270" alt="Veterinarians.org logo">
  </div>
</section>