{{ 'custom-hero.css' | asset_url | stylesheet_tag }}
<div class="hero-with-bg">
  <div class="hero-with-bg__text">
    <img
    src="https://cdn.shopify.com/s/files/1/0611/7992/0584/files/branding-smallpet-with-kids-furro-pawinspired-Mobile.jpg?v=1746775131"
  alt="Two children interacting with a small pet in a cozy nest – Paw Inspired® / Furr-O brand image"
  class="hero-with-bg__image"
/>
    <h2>
      You Are Why<br>
      We Are PAW <span style="text-decoration: underline;">INSPIRED</span><span style="font-size: 0.6em; vertical-align: super;">®</span>
      {% comment %} <img src="{{ 'Paw-Inspired-Logo-Lightbulb-Icon-Angled.svg' | asset_url }}" alt="Inspired" style="height: 1em; vertical-align: middle; margin-bottom: 2px;"> {% endcomment %}
    </h2>
    <p>
      If you are reading this, you should know<br> 
      <span style="color: #00b4ed; font-weight: bold !important;">YOU ARE AMAZING!</span><br>
      You have taken a step to give your loved one a little extra care. Our products are made for you. They are designed to help caring pet parents like yourself on the honorable mission of making their pet’s time on Earth a brighter one.
    </p>
    <a href="/collections/all" class="button">CARE STARTS HERE</a>
  </div>
</div>

{% schema %}
{
  "name": "Custom Hero",
  "settings": [],
  "presets": [
    {
      "name": "Custom Hero"
    }
  ]
}
{% endschema %}
