{% schema %}
{
  "name": "Custom Header",
  "class": "section-header",
  "settings": [
    {
      "type": "link_list",
      "id": "menu",
      "label": "Menu"
    },
    {
      "type": "checkbox",
      "id": "predictive_search_enabled",
      "label": "Enable predictive search",
      "default": true
    }
  ],
  "presets": [
    {
      "name": "Custom Header"
    }
  ]
}
{% endschema %}

<div id="customHeaderWrapper" class="custom-header">
  <header class="custom-header__container">
    <div class="custom-header__inner">
      {% render 'header-drawer',
         header_type: 'custom-header',
         main_menu: settings.menu
      %}
      {% render 'header-search',
         input_id: 'Search-In-In-Custom-Header',
         header_type: 'custom-header',
         settings: section.settings
      %}
    </div>
  </header>
</div>

<style>
  .custom-header {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    opacity: 0;
    pointer-events: none;
    transition: opacity 0.3s ease;
  }

  body.show-header .custom-header {
    opacity: 1;
    pointer-events: auto;
  }

  .custom-header__container {
    width: 100%;
    background-color: transparent; 
  }

  .custom-header .header__icon svg,
  .custom-header .header__icon .icon {
    stroke: #fff !important;
    fill: none !important;
  }

  .custom-header .header__search,
  .custom-header .custom-header-search {
    background-color: transparent;
    z-index:10000;
  }

  .custom-header .custom-hamburger-icon svg {
    fill: #fff !important;
  }

  .icon-close {
    stroke: #353535;
  }

  .icon-search {
    stroke: #353535;
  }

</style>
