{% schema %}
{
  "name": "Header",
  "class": "section-header",
  "settings": [
    {
      "type": "color",
      "id": "header_background",
      "label": "Header Background Color",
      "default": "#ffffff"
    },
    {
      "type": "color",
      "id": "text_color",
      "label": "Text Color",
      "default": "#00b4ed"
    },
    {
      "type": "color",
      "id": "hover_color",
      "label": "Hover Color",
      "default": "#ff6b6b"
    },
    {
      "type": "link_list",
      "id": "menu",
      "label": "Menu"
    }
  ],
  "presets": [
    {
      "name": "Header"
    }
  ]
}
{% endschema %}

<header class="header shopify-section-header">
  <div class="header-inner">
  {% render 'header-drawer', 
   header_type: 'header',
   main_menu: settings.menu
%}
  </div>
</header>

<style>
  .shopify-section-header {
    background-color: var(--header-bg-glass) !important;
    backdrop-filter: blur(var(--header-blur));
    -webkit-backdrop-filter: blur(var(--header-blur)); 
  }

 .shopify-section-header .custom-header-icons svg {
  stroke: #00b4ed !important;
  fill: none !important;
}

  .shopify-section-header .custom-hamburger-icon svg {
  fill: #00b4ed !important;
}


  .shopify-section-header .site-header__logo {
    margin-top: 3.5rem;
  }
  
  header.shopify-section-header-sticky .logo-color {
  display: inline-block !important;
}
header.shopify-section-header-sticky .logo-white {
  display: none !important;
}
</style>