{% schema %}
{
  "name": "Header",
  "class": "section-header",
  "settings": [
    {
      "type": "link_list",
      "id": "menu",
      "label": "Menu"
    }
  ],
  "presets": [
    {
      "name": "Header"
    }
  ]
}
{% endschema %}

<header class="header shopify-section-header">
  <div class="header-inner">
  {% render 'header-drawer', header_type: 'header', main_menu: settings.menu %}
  {% render 'header-search', input_id: 'Search-In-Modal' %} 
  </div>
</header>

<style>
  .shopify-section-header {
    background-color: var(--header-bg-glass) !important;
    backdrop-filter: blur(var(--header-blur));
    -webkit-backdrop-filter: blur(var(--header-blur)); 
  }

 .shopify-section-header .custom-header-icons svg {
  stroke: #00b4ed !important;
  fill: none !important;
}

  .shopify-section-header .custom-hamburger-icon svg {
  fill: #00b4ed !important;
}


  .shopify-section-header .site-header__logo {
    margin-top: 3.5rem;
  }
  
  header.shopify-section-header-sticky .logo-color {
  display: inline-block !important;
}
header.shopify-section-header-sticky .logo-white {
  display: none !important;
}

.shopify-section-header .header__search {
  position: absolute;
  top: 100%;
  right: 0;
  width: 100%;
  z-index: 9999;
}
</style>


