<link rel="stylesheet" href="{{ 'rating-carousel.css' | asset_url }}">

<section class="rating-carousel-section">
  <div class="rating-header">
    <h2 class="rating-heading">HEAR FROM PET PARENTS LIKE YOU</h2>
    <p class="rating-subheading">
      Because happy pets say it best!
    </p>
    <a href="https://judge.me/reviews/stores/pawinspired.com" class="button">
      4.7 stars from over 156+ reviews
    </a>
  </div>

  <div class="rating-carousel">
   <svg class="rc-arrow prev" xmlns="http://www.w3.org/2000/svg" width="30" height="30" viewBox="0 0 30 30" fill="none">
    <path d="M6 4L10 8L6 12" stroke="#00B4ED" stroke-width="1.5" stroke-linecap="round" stroke-linejoin="round"/></svg>
  
    <div class="rc-track">
      <!-- ★★★★★ Review 1 ★★★★★ -->
      <div class="rc-review">
        <div class="rc-review-left">
          <img
            src="https://cdn.shopify.com/s/files/1/0611/7992/0584/files/guinea-pig-snuggling-in-furro-bed-review.png?v=1746512765"
            alt="Guinea pig in Fur-O® bed"
            class="rc-image"
          />
          <img
            src="https://cdn.shopify.com/s/files/1/0611/7992/0584/files/blue-approved-stamp-guinea-pig-paw.png?v=1746512765"
            alt="Approved stamp"
            class="rc-stamp"
          />
          <span class="rc-meta rc-date">2 Jan 2025</span>
          <span class="rc-meta rc-author">Laura Nunes</span>
          <div class="rc-stars">
            {% for i in (1..5) %}
              <svg class="star on" viewBox="0 0 24 24"><path d="M12 .587l3.668 7.568 8.332 1.151-6.064 5.864 1.472 8.303L12 18.896l-7.408 4.577 1.472-8.303L0 9.306l8.332-1.151z"/></svg>
            {% endfor %}
          </div>
       <a href="/products/furr-o">
                <button class="add-to-cart" aria-label="Add to cart">
          {% render 'icon-bag' %}
        </button>
      </a>
        </div>
        <div class="rc-review-right">
          <h3 class="rc-review-title">Ember gives two paws up</h3>
          <p class="rc-review-text">
            Oh my. I got this for guinea pig on Christmas. Ember loves it. This is a great product. It's made with a lot of thought. 2 paws up definitely. </p>
        </div>
    </div>

      <!-- ★★★★★ Review 2 ★★★★★ -->
<div class="rc-review">    
  <div class="rc-review-left">
          <img
            src="https://cdn.shopify.com/s/files/1/0611/7992/0584/files/papillon-wearing-red-washable-dog-diaper-review.png?v=1746512766"
            alt="Papillon in dog diaper"
            class="rc-image"
          />
          <img
            src="https://cdn.shopify.com/s/files/1/0611/7992/0584/files/blue-approved-stamp-dog-paw.png?v=1746512765"
            alt="Approved stamp"
            class="rc-stamp"
          />
          <span class="rc-meta rc-date">11 May 2024</span>
          <span class="rc-meta rc-author">S. M.</span>
          <div class="rc-stars">
            {% for i in (1..5) %}
              <svg class="star on" viewBox="0 0 24 24"><path d="M12 .587l3.668 7.568 8.332 1.151-6.064 5.864 1.472 8.303L12 18.896l-7.408 4.577 1.472-8.303L0 9.306l8.332-1.151z"/></svg>
            {% endfor %}
          </div>
         <a href="/products/washable-dog-diapers">
                <button class="add-to-cart" aria-label="Add to cart">
          {% render 'icon-bag' %}
        </button>
      </a>
        </div>
        <div class="rc-review-right">
          <h3 class="rc-review-title">These are exceptional!!!!</h3>
          <p class="rc-review-text">
            I have a 15 year old Papillon that pees at night in my bed… I’ve tried disposable diapers, putting reusable pads all over my bed and 9 times out of 10...
          </p>
        </div>
      </div>
                
 <!-- ★★★★★ Review 3 ★★★★★ -->
<div class="rc-review">    
  <div class="rc-review-left">
          <img
            src="https://cdn.shopify.com/s/files/1/0611/7992/0584/files/guinea-pig-in-purple-furro-bed-review.jpg?v=1747114670"
            alt="guinea pig relaxing in Paw Inspired’s purple Furr-O® burrow bed, cozy and alert inside a pet cage"
            class="rc-image"
          />
          <img
            src="https://cdn.shopify.com/s/files/1/0611/7992/0584/files/blue-approved-stamp-guinea-pig-paw.png?v=1746512765"
            alt="Approved stamp"
            class="rc-stamp"
          />
          <span class="rc-meta rc-date">27 May 2024</span>
          <span class="rc-meta rc-author">Lisa S.</span>
          <div class="rc-stars">
            {% for i in (1..5) %}
              <svg class="star on" viewBox="0 0 24 24"><path d="M12 .587l3.668 7.568 8.332 1.151-6.064 5.864 1.472 8.303L12 18.896l-7.408 4.577 1.472-8.303L0 9.306l8.332-1.151z"/></svg>
            {% endfor %}
          </div>
         <a href="/products/furr-o">
                <button class="add-to-cart" aria-label="Add to cart">
          {% render 'icon-bag' %}
        </button>
      </a>
        </div>
        <div class="rc-review-right">
          <h3 class="rc-review-title">My piggies favorite bed!</h3>
          <p class="rc-review-text">
            My guinea pig has tried so many beds and this is by far her favorite. She walked right in, burrowed and then came out and “weaked” with delight!
          </p>
        </div>
      </div>
<!-- ★★★★★ Review 4 ★★★★★ -->
<div class="rc-review">    
  <div class="rc-review-left">
          <img
            src="https://cdn.shopify.com/s/files/1/0611/7992/0584/files/ferret-cage-gray-fitted-liner-critternation.jpg?v=1747125429"
            alt="A ferret in a Critter Nation cage using a soft gray fitted cage liner and ramp cover."
            class="rc-image"
          />
          <img
            src="https://cdn.shopify.com/s/files/1/0611/7992/0584/files/blue-approved-stamp-guinea-pig-paw.png?v=1746512765"
            alt="Approved stamp"
            class="rc-stamp"
          />
          <span class="rc-meta rc-date">2 Jun 2024</span>
          <span class="rc-meta rc-author">Lindsey M.</span>
          <div class="rc-stars">
            {% for i in (1..4) %}
              <svg class="star on" viewBox="0 0 24 24"><path d="M12 .587l3.668 7.568 8.332 1.151-6.064 5.864 1.472 8.303L12 18.896l-7.408 4.577 1.472-8.303L0 9.306l8.332-1.151z"/></svg>
            {% endfor %}
          </div>
         <a href="/products/fitted-liners">
                <button class="add-to-cart" aria-label="Add to cart">
          {% render 'icon-bag' %}
        </button>
      </a>
        </div>
        <div class="rc-review-right">
          <h3 class="rc-review-title">Gray Liners</h3>
          <p class="rc-review-text">
            My boy loves these! they're so soft, durable & comfy for him -- I decided to start spoiling him since the passings of his brothers, & these were the perfect...
          </p>
        </div>
      </div>
                
<!-- ★★★★★ Review 5 ★★★★★ -->
<div class="rc-review">    
  <div class="rc-review-left">
          <img
            src="https://cdn.shopify.com/s/files/1/0611/7992/0584/files/guinea-pig-critter-box-reversible-blue-liner-setup.jpg?v=1747123994"
            alt="A guinea pig cage setup with the Paw Inspired Critter Box® Reversible Cage Liner in blue, designed for comfort and cleanliness."
            class="rc-image"
          />
          <img
            src="https://cdn.shopify.com/s/files/1/0611/7992/0584/files/blue-approved-stamp-guinea-pig-paw.png?v=1746512765"
            alt="Approved stamp"
            class="rc-stamp"
          />
          <span class="rc-meta rc-date">6 Dec 2023</span>
          <span class="rc-meta rc-author">Megan H.</span>
          <div class="rc-stars">
            {% for i in (1..5) %}
              <svg class="star on" viewBox="0 0 24 24"><path d="M12 .587l3.668 7.568 8.332 1.151-6.064 5.864 1.472 8.303L12 18.896l-7.408 4.577 1.472-8.303L0 9.306l8.332-1.151z"/></svg>
            {% endfor %}
          </div>
         <a href="/products/critterbox">
                <button class="add-to-cart" aria-label="Add to cart">
          {% render 'icon-bag' %}
        </button>
      </a>
        </div>
        <div class="rc-review-right">
          <h3 class="rc-review-title">Will be buying more!</h3>
          <p class="rc-review-text">
            My two piggies liked to burrow under their reusable pads, so I bought the critter box to use in conjunction with them. I couldn’t be happier!
          </p>
        </div>
      </div>
                        
    </div>
  
  <svg class="rc-arrow next" xmlns="http://www.w3.org/2000/svg" width="30" height="30" viewBox="0 0 30 30" fill="none">
    <path d="M6 4L10 8L6 12" stroke="#00B4ED" stroke-width="1.5" stroke-linecap="round" stroke-linejoin="round"/></svg>
  </div>
</section>
{{ 'rating-carousel.js' | asset_url | script_tag }}

{% schema %}
{
  "name": "Rating Carousel (Static)",
  "settings": [],
  "blocks": [],
  "presets": [
    {
      "name": "Rating Carousel"
    }
  ]
}
{% endschema %}
