<div class="size-guide-popup" style="display: none;">
    <div class="size-guide-box">
        <button class="close-size-guide" aria-label="Close">
            <svg xmlns="http://www.w3.org/2000/svg" 
                 width="24" height="24" viewBox="0 0 24 24" 
                 fill="none" stroke="currentColor" 
                 stroke-width="2" stroke-linecap="round" 
                 stroke-linejoin="round">
                <path d="M18 6 6 18"/>
                <path d="m6 6 12 12"/>
            </svg>
        </button>
        <!-- Step 1: Gender Selection-->
        <div class="size-guide-step step-1 active">
            <p class="step-label">STEP 1 OF 3</p>
            <h2 class="step-title">What's your dog’s gender?</h2>
            <div class="option-group">
                <button class="option-button" data-value="male">
                        Male
                </button>
                <button class="option-button" data-value="female">
                        Female
                </button>
            </div>
        </div>
        <!-- Step 2A: Female Breed & Weight -->
        <div class="size-guide-step step-2-female">
            <p class="step-label">STEP 2 OF 3</p>
            <h2 class="step-title">What breed is your dog?</h2>
            <div class="form-row">
                <div class="custom-select" id="breed-select-female">
                    <div class="select-selected placeholder" data-value="">
                        My pet is a...
                    </div>
                    <div class="select-items select-hide">
                        <div class="disabled" data-value="">
                            My pet is a...
                        </div>
                        <div data-value="other">Other/ Not Listed</div>
                        <div data-value="australian">Australian Shepherd</div>
                        <div data-value="basset">Basset Hound</div>
                        <div data-value="beagle">Beagle</div>
                        <div data-value="bichonsFrise">Bichons Frise</div>
                        <div data-value="borderCollie">Border Collie</div>
                        <div data-value="boston">Boston Terrier</div>
                        <div data-value="boxer">Boxer</div>
                        <div data-value="bulldogUS">Bulldog (American)</div>
                        <div data-value="bulldogUK">Bulldog (English)</div>
                        <div data-value="cat">Cat</div>
                        <div data-value="kingCharles">Cavalier King Charles Spaniel</div>
                        <div data-value="chihuahua">Chihuahua</div>
                        <div data-value="cocker">Cocker Spaniel</div>
                        <div data-value="corgi">Corgi</div>
                        <div data-value="dachshundMini">Dachshund (Mini)</div>
                        <div data-value="dachshundStandard">Dachshund (Standard)</div>
                        <div data-value="doberman">Doberman Pinscher</div>
                        <div data-value="french">French Bulldog</div>
                        <div data-value="german">German Shepherd</div>
                        <div data-value="golden">Golden Retriever</div>
                        <div data-value="labrador">Labrador Retriever</div>
                        <div data-value="lhasaApso">Lhasa Apso</div>
                        <div data-value="maltese">Maltese</div>
                        <div data-value="miniature">Miniature Pinscher</div>
                        <div data-value="pitBull">Pit Bull</div>
                        <div data-value="pomeranian">Pomeranian</div>
                        <div data-value="poodleMini">Poodle (Mini)</div>
                        <div data-value="poodleToy">Poodle (Toy)</div>
                        <div data-value="pug">Pug</div>
                        <div data-value="rottweiler">Rottweiler</div>
                        <div data-value="russell">Russell Terrier</div>
                        <div data-value="schnauzerMini">Schnauzer (Mini)</div>
                        <div data-value="schnauzerStandard">Schnauzer (Standard)</div>
                        <div data-value="shibaInu">Shiba Inu</div>
                        <div data-value="shihTzu">Shih Tzu</div>
                        <div data-value="silky">Silky Terrier</div>
                        <div data-value="teacup">Teacup Breeds</div>
                        <div data-value="yorkshire">Yorkshire Terrier</div>
                      </div>
                    </div>
                </div>

                <h2 class="step-title">How much does your dog weight?</h2>
                <div class="form-row">
                    <div class="input-with-unit">
                        <input type="number" name="weight" placeholder="0" min="1" max="150" />
                            <span class="unit-label">lbs</span>
                    </div>
                </div>

                <div class="button-group">
                    <button class="prev-button" data-target="step-1">
                        <svg class="see-all-icon" xmlns="http://www.w3.org/2000/svg" 
                             width="20" height="20" viewBox="0 0 16 16" fill="none"
                             style="transform: rotate(180deg)">
                            <path d="M6 4L10 8L6 12" stroke="#00B4ED" 
                                  stroke-width="1.5" stroke-linecap="round" 
                                  stroke-linejoin="round"/>
                        </svg>
                        BACK
                    </button>
                    <button class="next-button" data-target="step-3">
                        NEXT
                        <svg class="see-all-icon" xmlns="http://www.w3.org/2000/svg" 
                             width="20" height="20" viewBox="0 0 16 16" fill="none">
                            <path d="M6 4L10 8L6 12" stroke="#00B4ED" stroke-width="1.5" 
                                  stroke-linecap="round" stroke-linejoin="round"/>
                        </svg>
                    </button>
                </div>
                <a href="https://pawinspired.com/blogs/dogs/how-to-choose-and-put-on-a-disposable-dog-diaper" 
                   class="size-guide-help diaper">
                    Need more help?
                </a> 
            </div>

            <!-- Step 2B: Male Breed & Waist -->
            <div class="size-guide-step step-2-male">
                <p class="step-label">STEP 2 OF 3</p>
                <h2 class="step-title">What breed is your dog?</h2>
                <div class="form-row">
                    <div class="custom-select" id="breed-select-male">
                        <div class="select-selected placeholder" data-value="">
                         My pet is a...
                        </div>
                        <div class="select-items select-hide">
                            <div class="disabled" data-value="">
                            My pet is a...
                            </div>
                            <div data-value="other">Other/ Not Listed</div>
                            <div data-value="australian">Australian Shepherd</div>
                            <div data-value="basset">Basset Hound</div>
                            <div data-value="beagle">Beagle</div>
                            <div data-value="bichonsFrise">Bichons Frise</div>
                            <div data-value="borderCollie">Border Collie</div>
                            <div data-value="boston">Boston Terrier</div>
                            <div data-value="boxer">Boxer</div>
                            <div data-value="bulldogUS">Bulldog (American)</div>
                            <div data-value="bulldogUK">Bulldog (English)</div>
                            <div data-value="kingCharles">Cavalier King Charles Spaniel</div>
                            <div data-value="chihuahua">Chihuahua</div>
                            <div data-value="cocker">Cocker Spaniel</div>
                            <div data-value="corgi">Corgi</div>
                            <div data-value="dachshundMini">Dachshund (Mini)</div>
                            <div data-value="dachshundStandard">Dachshund (Standard)</div>
                            <div data-value="doberman">Doberman Pinscher</div>
                            <div data-value="french">French Bulldog</div>
                            <div data-value="german">German Shepherd</div>
                            <div data-value="golden">Golden Retriever</div>
                            <div data-value="labrador">Labrador Retriever</div>
                            <div data-value="lhasaApso">Lhasa Apso</div>
                            <div data-value="maltese">Maltese</div>
                            <div data-value="miniature">Miniature Pinscher</div>
                            <div data-value="pitBull">Pit Bull</div>
                            <div data-value="pomeranian">Pomeranian</div>
                            <div data-value="poodleMini">Poodle (Mini)</div>
                            <div data-value="poodleToy">Poodle (Toy)</div>
                            <div data-value="pug">Pug</div>
                            <div data-value="rottweiler">Rottweiler</div>
                            <div data-value="russell">Russell Terrier</div>
                            <div data-value="schnauzerMini">Schnauzer (Mini)</div>
                            <div data-value="schnauzerStandard">Schnauzer (Standard)</div>
                            <div data-value="shibaInu">Shiba Inu</div>
                            <div data-value="shihTzu">Shih Tzu</div>
                            <div data-value="silky">Silky Terrier</div>
                            <div data-value="teacup">Teacup Breeds</div>
                            <div data-value="yorkshire">Yorkshire Terrier</div>
                        </div>
                    </div>
                </div>

                <h2 class="step-title">What's your dog's waist size?</h2>
                <div class="form-row">
                    <div class="input-with-unit">
                        <input type="number" name="waist" placeholder="0" min="5 max="32" step="0.5" />
                            <span class="unit-label">inches</span>
                    </div>
                </div>

                <div class="button-group">
                    <button class="prev-button" data-target="step-1">
                        <svg class="see-all-icon" xmlns="http://www.w3.org/2000/svg" 
                             width="20" height="20" viewBox="0 0 16 16" fill="none"
                             style="transform: rotate(180deg)">
                            <path d="M6 4L10 8L6 12" stroke="#00B4ED" 
                                  stroke-width="1.5" stroke-linecap="round" 
                                  stroke-linejoin="round"/>
                        </svg>
                        BACK
                    </button>
                    <button class="next-button" data-target="step-3">
                        NEXT
                        <svg class="see-all-icon" xmlns="http://www.w3.org/2000/svg" 
                             width="20" height="20" viewBox="0 0 16 16" fill="none">
                            <path d="M6 4L10 8L6 12" stroke="#00B4ED" stroke-width="1.5" 
                                  stroke-linecap="round" stroke-linejoin="round"/>
                        </svg>
                    </button>
                </div>

                <a href="https://pawinspired.com/blogs/dogs/how-to-choose-and-put-on-a-disposable-dog-diaper" 
                   class="size-guide-help diaper">
                    Need more help?
                </a> 
            </div>
       
            <!-- Step 3: Result -->
            <div class="size-guide-step step-3">
                <p class="step-label">STEP 3 OF 3</p>
                <p class="step-note">Based on your dog’s info,<br>we recommend size:</p>
                <h2 class="result-size">M</h2>
                <a href="/products/disposable-dog-diapers" class="shop-now-btn" id="shop-link">
                    <span class="shop-now-text">SHOP NOW</span>
                </a>
            </div>
    </div>
</div>