.brand-carousel {
  overflow: hidden;
  width: 100%;
  padding: 0.2rem 0;
  background-color: #f6f6f6;
}

.carousel-track {
  display: flex;
  width: max-content;
  animation: scroll 40s linear infinite;
  gap: 8rem;
  align-items: center;
}

.carousel-track img {
max-height: 160px;
width: auto;
height: auto;
object-fit: contain;
filter: grayscale(100%);
opacity: 0.8;
transition: opacity 0.3s;
}


.carousel-track img:hover {
  opacity: 1;
  filter: grayscale(0%);
}

@keyframes scroll {
  0% {
    transform: translateX(0);
  }
  100% {
    transform: translateX(-50%);
  }
}

@media (max-width: 768px) {
  .carousel-track {
    gap: 2rem;
    animation-duration: 60s;
  }

  .carousel-track img {
    height: 100px;
  }
}  