.hero-with-bg {
  background: url("https://cdn.shopify.com/s/files/1/0611/7992/0584/files/branding-smallpet-with-kids-furro-pawinspired-dog-diaper.jpg?v=1755570005");
  background-repeat: no-repeat;
  background-position: right 65%; 
  background-size: cover;

  padding-top: 8rem;
  padding-bottom: 8rem;
  padding-left: 12rem;
  padding-right: 0rem;

  display: flex;
  align-items: flex-start;      
  justify-content: space-between;      
}

.hero-with-bg__text {
  max-width: 45%;
  padding: 4rem 0;      
  color: #00b4ed;               
}

.hero-with-bg__text h2 {
  font-family: var(--bodyFont);
  font-weight: 700;
  color: #00b4ed;
  font-size: 5rem;
  line-height: 1.2;
  margin: 4rem 0 8rem;
}

.hero-with-bg__text p {
  font-family: "BauerGrotesk", sans-serif;
  font-weight: 400;
  font-size: 2rem;
  line-height: 1.6;
  color: #000;
  margin: 8 0 8 4rem;
}

.hero-with-bg__text .button {
  position: relative;          
  background: transparent;     
  text-decoration: none; 
  display: inline-block;
  padding: 2rem 0;
  line-height: 2;
  font-size: 2.4rem;
  color: #00b4ed;
  font-weight: 600;
  font-family: var(--bodyFont);
  margin-top: 4rem;
}
.hero-with-bg__text .button::after {
  content: '';
  position: absolute;          
  left: 0;
  bottom: -4px;  
  top: 100%;
  margin-top: -1rem;
  width: 100%;
  height: 2px;               
  background-color: #00B4ED;
  transform: scaleX(0);
  transform-origin: left;
  transition: transform 0.3s ease;
  margin-top: -3rem;
  margin-bottom: 8rem;
}
.hero-with-bg__text .button:hover::after,
.hero-with-bg__text .button:focus::after {
  transform: scaleX(1);
}

@media screen and (max-width: 749px) {
  .hero-with-bg {
    flex-direction: column;
    padding: 2rem 1rem;
  }
  .hero-with-bg__text {
    max-width: 100%;
    padding: 1rem 0;
  }
}

.hero-with-bg__image {
  display: none !important;
}

/* —— Mobile Hero —— */
@media screen and (max-width: 749px) {
  .hero-with-bg {
    background: none !important;
    padding: 2rem 1rem;
    text-align: center;
  }
  
  .hero-with-bg__image {
    display: block !important;
    width: 100%;
    height: auto;
    object-fit: cover;
  }
  
  .hero-with-bg__text {
    max-width: 100%;
    margin: 0 auto 1.5rem;
    padding: 0;
  }

  .hero-with-bg__text h2 {
    font-size: 3.2rem;
    line-height: 1.2;
    margin: -70rem 0 1rem;
  }
  
  .hero-with-bg__text p {
    font-size: 1.4rem;
    line-height: 1.4;
    margin: 2rem 1rem 2rem;
  }
  
  .hero-with-bg__text .button {
    display: inline-block;
    font-size: 2rem;
    padding: 1rem 0 2rem;
    margin: 0 auto 25rem;
  }
}
