html {
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}
  
@font-face {
    font-family: 'Bauer Grotesk';
    src: url('{{ "BauerGroteskOT.woff2" | asset_url }}') format('woff2');
    font-weight: 400 900;
    font-style: normal;
}

.size-guide-box {
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 90vw;
    max-width: 1200px;
    height: 70vh;
    background-color: #d6d6d6;
    border-radius: 24px;
    padding: 2rem;
    z-index: 999;
    overflow-y: auto;
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    color: #fff;
    font-family: 'Bauer Grotesk', sans-serif;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
  
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
}

.size-guide-box.step-1 {
    background-image: url('https://cdn.shopify.com/s/files/1/0611/7992/0584/files/size-guide-bg1-gender-paw-inspired-web.jpg?v=1757319946');
}

.size-guide-box.step-2 .female {
    background-image: url('https://cdn.shopify.com/s/files/1/0611/7992/0584/files/size-guide-bg2-breed-weight-paw-inspired-web.jpg?v=1757319946');
}

.size-guide-box.step-2 .male {
    background-image: url('https://cdn.shopify.com/s/files/1/0611/7992/0584/files/size-guide-bg2-waist-paw-inspired-web.jpg?v=1757319946');
}
  
.size-guide-box.step-3 .female {
    background-image: url('https://cdn.shopify.com/s/files/1/0611/7992/0584/files/size-guide-bg3-disposable-dog-diaper-result-paw-inspired-web.jpg?v=1757319947');
}

.size-guide-box.step-3 .male {
    background-image: url('https://cdn.shopify.com/s/files/1/0611/7992/0584/files/size-guide-bg3-male-wrap-result-paw-inspired-web.jpg?v=1757319947');
}

.close-size-guide svg {
    position: absolute;
    top: 0.8rem;
    right: 2rem;
    background: none;
    border: none;
    color: #878787;
    cursor: pointer;
}

.size-guide-step {
    display: none;
    text-align: center;
    width: 100;
    padding: 2rem;
  }

.step-label {
    position: absolute;
    font-size: 1.4rem;
    font-weight: 600;
    color: #878787;
    top: 1rem; left: 50%;
    transform: translateX(-50%);
}

.step-title {
    font-size: 4.5rem;
    font-weight: 600;
    margin-top: 8rem;
    margin-bottom: 4rem;
    color: #00b4ed;
}  

.option-group {
    display: flex;
    flex-wrap: wrap;
    gap: 1.5rem;
    justify-content: center;
}

.option-button {
    background: #00b4ed;
    color: #fff;
    border: 2px solid #00b4ed;
    border-radius: 999px;
    padding: 0.75rem 1.25rem;
    font-weight: 600;
    cursor: pointer;
    transition: background 0.2s ease;
    font-size: 1.8rem;
}

.option-button:hover {
   background: #fff;
   color: #00B4ED;
   border: 2px solid #00B4ED;
}

.next-button, 
.prev-button {
    display: inline-flex;
    align-items: center;
    justify-content: center;
    background: transparent;
    color: #00b4ed;
    font-weight: bold;
    border: none;
    font-size: 2rem;
    margin: 0;
    cursor: pointer;
    padding-top: 4rem;
}
  
.next-button svg,
.prev-button svg {
    margin-left: 0.2rem;
    vertical-align: middle;
    display: inline-block;
}
  
.prev-button svg {
    margin-right: 0.5rem;
    margin-left: 0;
    transform: scaleX(-1);
}
  
.button-group {
    display: flex;
    justify-content: center;
    gap: 2rem;
    margin-top: 6rem;
}

.size-guide-help{
    color: #00b4ed;
    text-decoration: underline;
    font-size: 1.4rem;
    font-family: 'Bauer Grotesk', sans-serif !important;
    position: absolute;
    bottom: 3rem; left:50%;
    transform: translateX(-50%);
}

.step-note{
    color: #00b4ed;
    margin-top: -3rem;
    margin-bottom: 0;
    font-size:1rem;
}

.result-size {
    font-size: 10rem;
    font-weight: 900;
    margin: 0;
    color: #00b4ed;
}

.shop-now-btn {
    background: #00B4ED; 
    color: #fff; 
    border: 2px solid #00B4ED; 
    border-radius: 999px; 
    padding: 0.75rem 1.25rem; 
    font-weight: 700; 
    font-size: 2rem; 
    text-decoration: none; 
    display: inline-block; 
    margin: 4rem 0; 
    cursor: pointer; 
    transition: all 0.2s ease;
}

@media screen and (max-width: 768px) {
    .size-guide-box {
        width: 90vw;
        height: 70vh;
        padding: 1rem 1.5rem;
    }

    .size-guide-box.step-1 {
        background-image: url('https://cdn.shopify.com/s/files/1/0611/7992/0584/files/size-guide-bg1-gender-paw-inspired.jpg?v=1757319937');
    }
    
    .size-guide-box.step-2 .female {
        background-image: url('https://cdn.shopify.com/s/files/1/0611/7992/0584/files/size-guide-bg2-breed-weight-paw-inspired.jpg?v=1757319937');
    }
    
    .size-guide-box.step-2 .male {
        background-image: url('https://cdn.shopify.com/s/files/1/0611/7992/0584/files/size-guide-bg2-waist-paw-inspired.jpg?v=1757319937');
    }
      
    .size-guide-box.step-3 .female {
        background-image: url('https://cdn.shopify.com/s/files/1/0611/7992/0584/files/size-guide-bg3-disposable-dog-diaper-result-paw-inspired.jpg?v=1757319937');
    }
    
    .size-guide-box.step-3 .male {
        background-image: url('https://cdn.shopify.com/s/files/1/0611/7992/0584/files/size-guide-bg3-male-wrap-result-paw-inspired.jpg?v=1757319937');
    }

    .step-title {
        font-size: 2rem;
        text-align: center;
        margin: 3rem 0;
    }

    .button-group {
        display: flex;
        justify-content: center;
        gap: 2rem;
        margin-top: -3rem;
    }
    
    .next-button, .prev-button {
        display: inline-flex;
        align-items: center;
        justify-content: center;
        background: transparent;
        color: #00b4ed;
        font-weight: bold;
        border: none;
        font-size: 1.3rem;
        margin: 0;
        cursor: pointer;
        padding-top: 4rem;
    }

    .size-guide-help {
        font-size: 1.2rem;
        margin: 1.5rem auto 0 auto;
        text-align: center;
        display: block;
        width: 100%;
        bottom: 1rem;
    }
    .result-size {
        font-size: 6rem;
        font-weight: 900;
    }
}
